*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Microsoft Sans Serif", sans-serif;
}

body {
  // max-width: 156.7rem;
  background-color: #0f172a; //900
  height: 100vh;
  font-size: 1.4rem;
  color: white;
}

#root {
  height: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
